# Structure Prediction Artefact Verification

- **Number of PDB files**: 10

| File | Valid PDB | Origin Commit | SHA-256 |
|---|---|---|---|
| amina_results/bipd_folded_binders/folded_design_0_seq_1.pdb | True | `2534ec9` | 0e98f9970741858d9753c72b299eed70c8f5e290f12038c3c0c591e53301d605 |
| amina_results/bipd_folded_binders/folded_design_0_seq_2.pdb | True | `2534ec9` | 6bdfa2ca36b4474d637da75ca2872f6102b523f95c28466f291721c636545b8b |
| amina_results/bipd_folded_binders/folded_design_1_seq_1.pdb | True | `2534ec9` | b33de01ca82cf1bd41bc76687aed08d2ed5bbc077b68bae35205403fabbdb47a |
| amina_results/bipd_folded_binders/folded_design_1_seq_2.pdb | True | `2534ec9` | 8cd1ee882be2643aa1092fc9f75b4f78d1d4058a79a929675559b1d1417ec8bc |
| amina_results/bipd_folded_binders/folded_design_2_seq_1.pdb | True | `2534ec9` | 3915cdde036ba5e1f5bc0964d9c3ff2bd8b58d79304b98f591143e0ffce5a3ba |
| amina_results/bipd_folded_binders/folded_design_2_seq_2.pdb | True | `2534ec9` | aa0177f74cead13f8402f4fd400a5816b1ae0093eddff41748e00562353c6f96 |
| amina_results/bipd_folded_binders/folded_design_3_seq_1.pdb | True | `2534ec9` | 2aaae15210093b47fbb17efa6f18bf9ebae6e8a829eb881d9fbd61ffab69e872 |
| amina_results/bipd_folded_binders/folded_design_3_seq_2.pdb | True | `2534ec9` | f6d5c07fb1d33d76a39580ad1ba942c92fc7bc6eaf83b96c9068021680ad8c38 |
| amina_results/bipd_folded_binders/folded_design_4_seq_1.pdb | True | `2534ec9` | 63f5d86028b0b487ee365ab2ed24835b54ff0e0cc5458f2d4c4aa8f6b47ea058 |
| amina_results/bipd_folded_binders/folded_design_4_seq_2.pdb | True | `2534ec9` | 942040df3c3f2a52b74f5d0999eaabe59b6543574dae2c6ecc1a2abaeafcb032 |
